BEGIN TRY

BEGIN TRAN;

-- DropIndex
DROP INDEX [MonthlyPackage_status_expiryDate_idx] ON [dbo].[MonthlyPackage];

-- AlterTable
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [DF_Booking_status];
ALTER TABLE [dbo].[Booking] ADD CONSTRAINT [Booking_status_df] DEFAULT 'PENDING_PAYMENT' FOR [status];

-- AlterTable
ALTER TABLE [dbo].[CheckInRecord] ADD [guestPin] NVARCHAR(6),
[guestPinActive] BIT NOT NULL CONSTRAINT [CheckInRecord_guestPinActive_df] DEFAULT 0,
[guestPinIssuedAt] DATETIME2,
[guestPinRevokedAt] DATETIME2,
[guestQrToken] NVARCHAR(255),
[prepaidAt] DATETIME2;

-- AlterTable
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [DF_Payment_status],
[Payment_paidAt_df];
ALTER TABLE [dbo].[Payment] ADD CONSTRAINT [Payment_status_df] DEFAULT 'PENDING' FOR [status];

-- DropTable
DROP TABLE [dbo].[sysdiagrams];

-- CreateIndex
ALTER TABLE [dbo].[CheckInRecord] ADD CONSTRAINT [CheckInRecord_guestQrToken_key] UNIQUE NONCLUSTERED ([guestQrToken]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [CheckInRecord_guestPin_idx] ON [dbo].[CheckInRecord]([guestPin]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [CheckInRecord_guestQrToken_idx] ON [dbo].[CheckInRecord]([guestQrToken]);

-- CreateIndex
ALTER TABLE [dbo].[Payment] ADD CONSTRAINT [Payment_transactionCode_key] UNIQUE NONCLUSTERED ([transactionCode]);

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

